<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
    <div class="contentWrapper">
        <form action="" name="Myform" class="userInfor" method="post">
            <ul>
                <li>
                    <label>旧密码</label>
                    <input type="password" name="oldpassword" placeholder="输入旧密码">
                </li>
                <li>
                    <label>新密码</label>
                    <input type="password" name="password1" placeholder="输入新密码">

                </li>
                <li>
                    <label>确认密码</label>
                    <input type="password" name="password2" placeholder="确认新密码">
                </li>
            </ul>
            <button>提交</button>
        </form>
    </div>
</body>
</html>